<h1 class="text-center ban">My-cocktail.com <br>
<%= link_to 'Create a new cocktail', new_cocktail_path, {class: "btn btn-primary btn-create"} %> </h1>
<br>
<br>

<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="cards">
            <h3><%= cocktail.name %></h3>
              <%= link_to 'See more', cocktail, {class: "btn btn-secondary btn-card"} %>
              <%= link_to 'Delete', cocktail, method: :delete %>
        </div>
      </div>
    <% end %>
  </div>
</div>

